.features-list-item > h3 {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  margin-bottom: 10px;
  color: $color-text-title;
}
.features-list-item > p {
  font-weight: 400;
  font-size: 14px;
  line-height: 2;
  letter-spacing: 0.03em;
  color: $color-text-grey;
  min-width: 270px;
}

.features-container {
  padding-top: 94px;
  padding-bottom: 47px;
}
/* .features-list {
    padding: 94px 0px;
    /* justify-content: space-between; */
/* flex-wrap: wrap; */

.features-list-item:not(:last-child) {
  margin-right: 30px;
}

.features-list {
  display: flex;
}
