.social-links-team {
  /* text-align: inherit; */
  /* display: flex; */
  width: 206px;
  height: 44px;
}
.social-links-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.social-links-footer > h2 {
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: #ffffff;
  margin-bottom: 20px;
}

.social-links-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-links-icon:hover,
.social-links-icon:focus {
  background: #2196f3;
  border-radius: 50%;
}
.social-links-icon svg {
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-links-icon:hover svg,
.social-links-icon:focus svg {
  fill: #ffffff;
}

.social-icon {
  fill: #afb1b8;
}
